version: "3.9"

services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
    volumes:
      - .:/app
    command: python bot.py

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
