services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    environment:
      - TZ=Europe/Moscow  # Установите ваш TZ, например Europe/Moscow для MSK

  telegram-bot:
    build: .
    container_name: telegram-bot
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - TZ=Europe/Moscow  # То же для бота
    restart: unless-stopped
    env_file:
      - .env

volumes:
  redis_data: